{% extends "base_with_nav.html" %}
{% block title %}Main{% endblock %}
{% block content %}

<div margin="0" class="box-in-left">
  <h1>Submit A New Code:</h1>
  <form action="/dashboard/enter_code" method="post">
    {% csrf_token %}
    <input type="text" class="input-block-level form-signin" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="code" placeholder="Code">
    <button class="btn btn-large btn-primary" type="submit" value="login">Submit</button>
  </form>
</div>

<h1>Retrieved Codes</h1>
<ul>
  {% for token in collected_tokens %}
  <li><b>{{ token.token.code }}: </b> {{ token.token.reward_text }}</li>
  {% endfor %}
</ul>

<h1>Rewards</h1>
<ul>
  {% for reward in collected_rewards %}
  <li><b>{{ reward.reward.name }}: </b> {{ reward.reward.reward_text }}</li>
  {% endfor %}
</ul>

{% endblock %}
