{% extends "base.html" %}

{% block content %}

<p>Hello, <b>{{ user }}</b></p>

<h1>Submit Code</h1>
<form action="/dashboard/enter_code" method="post">
  {% csrf_token %}
  <label for="code">Code:</label>
  <input id="code" type="text" name="code">
  <input type="submit" value="Submit">
</form>

<h1>Retrieved Codes</h1>
<ul>
  {% for token in collected_tokens %}
  <li><b>{{ token.token.code }}: </b> {{ token.token.reward_text }}</li>
  {% endfor %}
</ul>

<h1>Rewards</h1>
<ul>
  {% for reward in collected_rewards %}
  <li><b>{{ reward.reward.name }}: </b> {{ reward.reward.reward_text }}</li>
  {% endfor %}
</ul>

{% endblock %}
