{% extends "base_with_nav.html" %}
{% block title %}Sign Up Form{% endblock %}
{% block content %}

<h2>Sign Up Form</h2>
<form method="post">
  {% csrf_token %}
  {% for field in form %}
    <p>
      {{ field.label_tag }}<br>
      {{ field }}

      {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}

      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
  {% endfor %}
  <p>Your email address will be used ONLY for password recovery and notifications
  of rewards. No SPAM or other unsolicited email will be sent.</p>
  <button class="btn btn-large btn-primary" type="submit">Sign up</button>
</form>
{% endblock %}
